$main-radius: 20px;

.connections-main {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: $main-radius;

    .connections-header {
        text-align: center;
    }

    .connections-body {
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: center;
        flex-wrap: wrap;

        .connections-card {
            border: 1px solid #ccc;
            border-radius: $main-radius;
            display: flex;
            flex-direction: column;

            padding: 20px;

            img {
                width: 250px;
                height: 250px;
                margin: 0 auto;
                border-radius: 50%;
                margin-right: 10px;
            }

            h3 {
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
                text-align: center;
                cursor: pointer;
                color: rgba(0, 0, 0, 0.9);
                margin: 5px 0;
            }

            .headline {
                font-size: 14px;
                text-align: center;
                color: rgba(0, 0, 0, 0.6);
                margin-bottom: 10px;
            }

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparent;
                border-radius: 50px;
                cursor: pointer;

                .icon.connection,
                p {
                    font-size: 16px;
                    font-weight: 600;
                    color: rgb(0, 65, 130);
                    line-height: 20px;
                    margin-right: 10px;
                }
            }

            button:hover {
                background-color: aqua
            }
        }
    }
}