.home-profile-card {
    display: flex;
    // display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 90%;
    height: 180px;
    margin: 20px auto;
    border-radius: 20px;
    background-color: #fff;
    max-width: 700px;
    @media (max-width: 767px) {
        width: 100%;
        
    }
    
    img {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
    }
    .username {
        color:rgba(0, 0, 0, 0.9);
        font-size: 16px;
        font-weight: 600;
        line-height: 16px;
        cursor: pointer;
    }
    .username:hover {
        text-decoration: underline;
    }
    .headline {
        color: rgba(0, 0, 0, 0.6);
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }
}