.topbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .logo {
        cursor: pointer;
    }

    .icons {
        display: flex;
        align-items: center;

        .icon-container {
            margin: 0 10px;
            cursor: pointer;
            width: 70px;
            @media (max-width: 768px) {
                width: 100%;
            }

            .icon {
                font-size: 24px;

            }
        }

        .user-container {
            position: relative;

            .icon.user {
                border-radius: 50%;
                width: 40px;
                height: 40px;
                cursor: pointer;
            }

            .dropdown {
                position: absolute;
                top: 45px; // Adjust as needed
                right: 0;
                background-color: #fff;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                z-index: 1000; // Ensure this is set
                width: 200px;
                padding: 5px 10px;
                list-style: none;

                .dropdown-item {
                    padding: 10px 0;
                    cursor: pointer;
                    border-radius: 50px;
                    border: 5px blue solid;
                    width: 100%;
                    margin: 10px;
                    text-align: center;
                    margin: 5px auto;

                    &:hover {
                        background-color: #f0f0f0;
                    }
                }
            }
        }
    }
}

.filtered-users-container {
    position: absolute;
    top: 60px; // Adjust as needed
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 80%;
    max-width: 600px;
    padding: 10px 20px;

    .filtered-user {
        display: flex;
        align-items: center;
        padding: 10px 0;

        img {
            border-radius: 50%;
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }

        .username {
            cursor: pointer;
            font-weight: bold;
        }

        .headline {
            font-size: 14px;
            color: #666;
        }
    }

    .error {
        text-align: center;
        color: red;
    }
}