.modal-input {
    border: none !important;
    background-color: white;
    outline: none;
    color: black;
    font-size: 16px;
    font-family: system-ui;
    width: 100%;
    resize: none;
    position: relative;
}

.picture.icon {
    color: #0073b1;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 32px;
}
.picture.icon:hover {
    color: rgba(0, 0, 0, 0.9);
}

.progress-bar {
    margin-top: 20px;
    text-align: center;
}

