.profile-card-container {
    padding: 16px;
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: relative;
    max-width: 100vw;
    min-width: 80%;
    margin: auto;
    border-radius: 20px;
    padding: 20px;

    .user-details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        img {
            width: 15rem;
            height: 15rem;
            border-radius: 50%;
            margin-bottom: 8px;
        }
        
        .profile-img {
            cursor: pointer;
        }

        .username {
            font-size: 2rem;
            font-weight: bold;
        }

        .headline {
            font-weight: 400;
            color:rgba(0, 0, 0, 0.9);
            font-size: 16px;
            line-height: 20px;
        }
        .country-city {
            color: rgba(0, 0, 0, 0.6);
            font-size: 14px;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
        }
    }
    .right-info {
      margin: 0 auto;
    }
    .edit-btn {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 2.2rem;
      cursor: pointer;
    }
        @media (max-width: 767px) {
            img {
                width: 60px;
                height: 60px;
            }
            .username {
                font-size: 1rem;
            }
    
        }

    .company-college {
        margin-right: 10rem;

        .college,
        .company {
            font-size: 16px;
            margin-top: 4px;
            font-weight: 600;
        }
    }
}

.all-posts {
    margin-top: 16px;

    .post-card {
        margin-bottom: 16px;
    }
}
